html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  line-height: 1.6;
}

main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header {
  background-color: #1f1b24;
  color: #bb86fc;
  padding: 1.5rem 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

span {
  color: #03dac6;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.textButtonSubmit {
  color: #03dac6;
}

.searchBook {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
}

.searchBook h2 {
  margin-bottom: 1.5rem;
  color: #bb86fc;
  font-size: 1.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input[type="text"],
input[type="number"],
input[type="search"] {
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 1.1rem;
  background-color: #292929;
  color: #e0e0e0;
}

button {
  background-color: #521885;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #a16be0;
  transform: scale(1.05);
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 1rem;
  color: #b0b0b0;
}

.wrapperBook {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.wrapperBook section {
  flex: 1;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #bb86fc;
}

#incompleteBookList,
#completeBookList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

[data-testid="bookItem"] {
  background-color: #292929;
  padding: 1.5rem;
  border: 1px solid #444;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

[data-testid="bookItem"] h3 {
  font-size: 1.3rem;
  color: #e0e0e0;
}

[data-testid="bookItem"] p {
  font-size: 1rem;
  color: #b0b0b0;
}

[data-testid="bookItem"] div {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

[data-testid="bookItemDeleteButton"] {
  background-color: #a03f51;
}

[data-testid="bookItemDeleteButton"]:hover {
  background-color: #cf6679;
}

[data-testid="bookItem"] button {
  color: #fff;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (min-width: 1024px) {
  .wrapperBook {
    flex-direction: row;
  }

  main {
    padding: 4rem;
  }
}

@media (max-width: 1024px) {
  .wrapperBook {
    flex-direction: column;
  }
}

/* Scrollbar base */
::-webkit-scrollbar {
  height: 8px;
  width: 12px;
  background: #2c2c2c;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
  transition: background 0.3s;
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
  background: #2c2c2c;
}
